<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FormDisposisi2Activity"></activity>
        <activity android:name=".FormDisposisiActivity" />
        <activity android:name=".DetailDisposisiKeluarActivity" />
        <activity android:name=".DetailDisposisiMasukActivity" />
        <activity android:name=".DisposisiKeluarActivity" />
        <activity android:name=".DisposisiMasukActivity" />
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".DetailSuratMasukActivityActivity" />
        <activity android:name=".DetailSuratKeluarActivity" />
        <activity android:name=".SuratKeluarActivity" />
        <activity android:name=".SuratMasukActivity" />
        <activity android:name=".ReferensiActivity" />
        <activity android:name=".StatistikActivity" />
        <activity
            android:name=".ReferensiDerajatSuratActivity"
            android:label="Data Derajat Surat"
            android:theme="@style/ReferensiTheme"></activity>
        <activity
            android:name=".ReferensiNaskahDinasActivity"
            android:label="Data Jenis Naskah Dinas"
            android:theme="@style/ReferensiTheme"></activity>
        <activity
            android:name=".ReferensiKodeArsipActivity"
            android:label="Data Kode Arsip"
            android:theme="@style/ReferensiTheme"></activity>
        <activity
            android:name=".ReferensiKlasifikasiSuratActivity"
            android:label="Data Klasifikasi Surat"
            android:theme="@style/ReferensiTheme"></activity>
        <activity
            android:name=".ReferensiPegawaiActivity"
            android:label="Data Pegawai"
            android:theme="@style/ReferensiTheme"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>